################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/yungching_interview/yungching_interview/bin
/yungching_interview/yungching_interview/bin
/yungching_interview/yungching_interview/obj
/yungching_interview/BI/obj
/yungching_interview/BI/bin
/yungching_interview/DataAccess/bin
/yungching_interview/DataAccess/obj
/yungching_interview/.vs
