@using PagedList;
@model IPagedList<DataAccess.Movie>
@{
    ViewBag.Title = "電影列表";
}

<script>
    function OpenCreateMovieInput() {
        $.get('/MovieList/OpenCreateMovieModal', function (data) {
            $('#modalContentMovie').html(data);
            $('#modalMovie').modal('show');
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <h1>電影列表</h1>
    </div>

    <div class="col-md-12 form-group">
        <button type="button" class="btn btn-success" onclick="OpenCreateMovieInput()">新增</button>
    </div>

    <div id="divMovieTable">
        @Html.Partial("MovieTable", Model)
    </div>
</div>

@Html.Partial("MovieModal")